[ req ]
prompt = no
distinguished_name = req_distinguished_name
req_extensions      = req_ext
x509_extensions     = x509_ext
string_mask         = utf8only

[ req_distinguished_name ]
C = AE
ST = TestState
L = TestLocality
O = FalconJS
OU = OrgUnitName
CN = localhost
emailAddress = test@email.com

[ x509_ext ]

subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer

basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, keyEncipherment
subjectAltName         = @alternate_names
nsComment              = "OpenSSL Generated Certificate"

[ req_ext ]

subjectKeyIdentifier = hash

basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
subjectAltName       = @alternate_names
nsComment            = "FalconJS Generated Cert"

[ alternate_names ]
DNS.1       = localhost